<section id="savedPhrasesTable">
  <% savedPhrases.forEach(phrase => { %>
  <div id="phrase">
    <div id='originalPhrase'>
      <p><span class='languageCode'> (<%= phrase.original %>) </span> <%= phrase.string %> </p>
    </div>
    <div id='translatedPhrase'>
      <p><span class='languageCode'> (<%= phrase.translated %>) </span> <%= phrase.translation %> </p>
    </div>
    <button onclick='deleteTrans(`<%= phrase.id %>`)' class="delete" data-id= <%= phrase.id %> >X</button> 
  </div>
  <% }) %>
</section>