<section id="savedPhrasesTable">
  <% for (let i = savedPhrases.length-1; i >= 0; i--) { %>
  <div id="phrase">
    <div id='originalPhrase'>
      <p><span class='languageCode'> (<%= savedPhrases[i].original %>) </span> <%= savedPhrases[i].string %> </p>
    </div>
    <div id='translatedPhrase'>
      <p><span class='languageCode'> (<%= savedPhrases[i].translated %>) </span> <%= savedPhrases[i].translation %> </p>
    </div>
    <span onclick='deleteTrans(`<%= savedPhrases[i].id %>`)' class="delete" data-id= <%= savedPhrases[i].id %> ><span class = "delete">X</span></span> 
  </div>
  <% } %>
</section>
